/* Noah Klein */

.TermsOfService {
    display: grid;
    justify-content: center;
    padding: 2rem;
}

.TermsOfService .container {
    max-width: 1000px;
}

.TermsOfService .binding{
    text-align: center;
}

@media (max-width: 768px) {
    .TermsOfService {
        padding: 1rem;
    }
}