/* Noah Klein */


.Landing {
    margin-top: 2rem;
    margin-bottom: 10rem;
    width: 100%;
}

.Landing .slogan-holder {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    font-weight: 650;
    line-height: clamp(5rem, 10vw, 9rem);
    font-size: clamp(5rem, 10vw, 8rem);
    align-items: start;
}

.Landing .image-paragraph {
    max-width: 50rem;
}


.Landing>.row {
    gap: 2rem;
    justify-content: space-evenly;
}

.Landing .row>.column {
    margin: 0;
}

.Landing .slogan-holder p {
    line-height: 2rem;
}


/* Apply different animation delays */
.Landing .slogan-holder div:nth-child(1) {
    background: linear-gradient(to right, var(--dss-gray) 0%, var(--dss-gray) 15%, #949494 50%, var(--dss-gray) 75%, var(--dss-gray) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    animation: shine 5s infinite linear;
}

.Landing .slogan-holder div:nth-child(2) {
    background: linear-gradient(to right, var(--dss-gray) 0%, var(--dss-gray) 15%, #949494 50%, var(--dss-gray) 75%, var(--dss-gray) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: -50% 0%;
    animation: shine 5s infinite linear;
    animation-delay: 3s;
}

.Landing .slogan-holder div:nth-child(3) {
    background: linear-gradient(to right, var(--dss-gray) 0%, var(--dss-gray) 15%, #949494 50%, var(--dss-gray) 75%, var(--dss-gray) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: -50% 0%;
    animation: shine 5s infinite linear;
    animation-delay: 6.5s;
}

@keyframes shine {
    0% {
        background-position: 150% 0%;
    }

    100% {
        background-position: -50% 0%;
    }
}

.Landing img {
    max-height: 18rem;
    width: 100%;
    min-width: 15rem;
    object-fit: contain;
    background-color: var(--dss-gray);
}

.Landing p {
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 450;
}