/* Noah Klein */

.Partners {
    margin-bottom: 10rem;
}

.Partners .entry {
    align-items: flex-start;
    text-wrap: pretty;
}

.Partners .title {
    width: 15rem;
}

.Partners img {
    max-height: 10rem;
    max-width: 20rem;
}

.Partners p {
    padding: 0.5rem;
}