/* Noah Klein */

.Partners {
    margin-bottom: 4rem;
}

.Partners .partner {
    align-items: flex-start;
    text-wrap: pretty;
}

.Partners .title {
    width: 15rem;
}

.Partners img {
    height: 10rem;
}

.Partners p {
    padding: 0.5rem;
}