/* Noah Klein */

/* TODO add slight tilt to left and right carousel items */

.ProductCarousel {
    width: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.carousel {
    position: relative;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.carousel .product {
    top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
    justify-content: flex-start;
}

.carousel .product img {
    height: 17rem;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.carousel .product .name {
    margin-top: 0.7rem;
    margin-bottom: 0rem;
    font-size: 0.8rem;
    color: #555;
}

.carousel .product .description {
    transition: opacity 0.8s ease-in-out;
    opacity: 0;
    width: 30rem;
    flex-grow: 1;
}

.carousel .center .description {
    opacity: 1;
}

@media (max-width: 768px) {
    .carousel .product img {
        height: 12.5rem;
    }

    .carousel .product .name {
        font-size: 1.2rem;
    }

    .carousel .product .description {
        width: 20rem;
    }
}

@media (max-width: 480px) {
    .carousel .product img {
        height: 10rem;
    }

    .carousel .product .name {
        font-size: 1.2rem;
    }

    .carousel .product .description {
        width: 20rem;
    }
}