/* Noah Klein */

.PrivacyPolicy {
    display: grid;
    justify-content: center;
    padding: 2rem;
}

.PrivacyPolicy .container {
    max-width: 1000px;
}

@media (max-width: 768px) {
    .PrivacyPolicy {
        padding: 1rem;
    }
}