/* Noah Klein */

/* ! This should usually be in line with Partners.css */

.Ecosystem .entry {
    box-shadow: none;
}

.Ecosystem .AlternatingMediaText{
    padding: 0 2rem;
}

.Ecosystem .AlternatingMediaText .entry{
    max-width: 70rem;
}