/* Noah Klein */

.RequestQuote {
    padding: 1rem;
    margin-bottom: 2rem;
}

.RequestQuote form {
    display: block;
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: var(--dss-gray);
    color: var(--dss-black);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.RequestQuote label {
    height: fit-content;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.RequestQuote input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.RequestQuote form button {
    width: 100%;
}

.RequestQuote textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.RequestQuote h2 {
    margin: 1.5rem 1rem;
    text-align: center;
    font-size: 1.75rem;
}

.RequestQuote p {
    margin: 0;
    padding: 1rem;
    font-size: 1.4rem;
}