/* Noah Klein */

.RequestQuote {
    padding-bottom: 1.25rem;
}

.RequestQuote h2 {
    margin: 1.5rem 1rem;
    text-align: center;
    font-size: 1.75rem;
}

.RequestQuote p {
    margin: 0;
    padding: 1rem;
    font-size: 1.4rem;
}

.RequestQuote .quote-form {
    width: 50rem;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.RequestQuote .input-group {
    margin-bottom: 1rem;
}

.RequestQuote .input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.RequestQuote .submit-button {
    width: 100%;
    padding: 10px;
    background-color: var(--dss-gray);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.RequestQuote .submit-button:hover {
    background-color: var(--dss-orange);
}

.RequestQuote textarea {
    /* height: 20rem;
    justify-content: start;
    align-items: start; */

    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}