/* Noah Klein */

.TinyLeagueLanding {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    margin-bottom: 5rem;
}

.TinyLeagueLanding .container {
    display: flex;
    max-width: 70rem;
    gap: 2rem;
    align-items: center;
}

.TinyLeagueLanding p {
    font-size: 1.25rem;
}

.TinyLeagueLanding .header-container {
    display: flex;
    align-items: flex-start;
    /* Aligns items at the start */
    flex-wrap: wrap;
    /* Allows wrapping if necessary */
}

.TinyLeagueLanding span {
    display: inline-flex;
    align-items: center;
}

.TinyLeagueLanding h1 img {
    height: 4rem;
    transform: translateX(-0.75rem);
}


.TinyLeagueLanding .container img {
    width: 20rem;
    user-select: none;
}

@media (max-width: 768px) {
    .TinyLeagueLanding .container {
        flex-direction: column;
    }

    .TinyLeagueLanding img {
        margin-top: 1rem;
    }
}