/* Noah Klein */

:root {
    --horizontal-text-padding: clamp(15px, 10vw, 260px);
}

:is(.TeamMembers, .AboutUs, .Sponsors) {
    width: 100%;
    height: fit-content;

    background-color: var(--dss-white);
    padding-top: 70px;

    text-align: start;
    text-wrap: pretty;
    z-index: 15;
}

:is(.TeamMembers, .AboutUs, .Sponsors) p {
    margin: 0;
    padding: 1em var(--horizontal-text-padding);
}

:is(.TeamMembers, .AboutUs, .Sponsors) :is(h2, h3) {
    padding-left: var(--horizontal-text-padding);
}


/* :is(.TeamMembers, .AboutUs, .Sponsors) a:hover {
    color: var(--buckeye-scarlet);
} */

:is(.TeamMembers, .AboutUs, .Sponsors) a {
    text-decoration: none;
    color: var(--anchor-orange);
    transition: color 0.15s ease-in-out;
}