/* Noah Klein */

.Team .container {
    display: flex;
}

/* TODO style basically like the google slides */

.Team .member {
    display: flex;
    flex-direction: column;
    background-color: var(--dss-gray);
    color: var(--dss-black);

    align-items: center;
    justify-content: flex-start;

    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;

    flex: 1;
}


.Team h3 {
    margin: 1rem;
}

.Team .image-container {
    position: relative;
    display: inline-block;
    /* To fit content */
}

.Team .foreground-image {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
    padding: 20% 0;
    /* TODO Figure out why this border isn't visible */
    border-color: var(--dss-gray);
    border-width: 2rem;
    /* Controls the size of the front image */
}

.Team .background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175%;
    /* Proportional scaling */
    height: auto;
    /* Maintain aspect ratio */
    z-index: 0;
    /* Behind the foreground image */
}