/* Noah Klein */

.Team .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Team .member {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    max-width: 22.5rem;

    margin: 0 2rem;
    padding: 0 2rem;
    border-radius: 1rem;

    text-align: center;
}

.Team .image-container {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}

.Team h3 {
    transition: color 0.5s ease-in-out;
    padding: 0 1rem;
    margin: 0;
    position: absolute;
    bottom: 87.5%;
    z-index: 2;
    text-wrap: nowrap;
}

.Team .title {
    top: 87.5%;
    right: 0%;
}

.Team .member:hover h3 {
    color: var(--dss-orange);
}

.Team .foreground-image {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
    margin: 20% 0;
    border-radius: 2rem;
    user-select: none;
}

.Team .background-image {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 175%;
    height: auto;

    z-index: 0;
    user-select: none;
}


/* Mobile stylings */

@media (max-width: 900px) {
    .Team .container {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .Team .member {
        max-width: 35rem;
    }

    .Team .foreground-image {
        max-width: 22.5rem;
    }

    .Team .member p {
        max-width: 35rem;
    }
}