/* Noah Klein */

.Timeline {
    padding: 20px;
    position: relative;
}

.Timeline .entry {
    display: flex;
    position: relative;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    padding: 3rem 0;
    list-style: none;
    margin: 0;
    color: var(--dss-black);
}

.Timeline .entry.even .event-box {
    order: 1;
    justify-content: flex-end;
}

.Timeline .entry.even .date-box {
    order: 3;
    justify-content: flex-start;
}

.Timeline .date-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 37.5%;
    order: 1;
    color: var(--dss-gray);
}

.Timeline .indicator {
    width: 4rem;
    order: 2;
    z-index: 2;
}

.Timeline .line {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;

    width: 0.75rem;

    background: linear-gradient(var(--dss-orange), var(--dss-red), var(--dss-orange));
    background-size: 100% 200%;

    animation: shine 5s infinite linear;
}

.Timeline .event-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 37.5%;
    order: 3;
}

.Timeline .event {
    display: flex;
    align-items: center;
    width: 37.5%;
    background-color: var(--dss-gray);
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

@keyframes shine {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% -200%;
    }
}