/* Noah Klein */

.Timeline {
    padding: 20px;
    position: relative;
}

.Timeline .entry {
    display: flex;
    position: relative;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    padding: 3rem 0;
    list-style: none;
    margin: 0;
    color: var(--dss-black);
}


/* Event */

.Timeline .event-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 37.5%;
    order: 3;
    opacity: 0;
    transform: translateX(50px);
}

.Timeline .entry.even .event-box {
    order: 1;
    justify-content: flex-end;
    transform: translateX(-50px);
}

.Timeline .event {
    background-color: var(--dss-gray);
    border-radius: 8px;
    filter: drop-shadow(0 0 1rem var(--dss-orange));
    padding: 0.5rem;
    text-wrap: pretty;
    transition: filter 0.5s linear;
}

.Timeline .selected .event {
    filter: drop-shadow(0 0 0.75rem var(--dss-red));
}


/* Date */

.Timeline .date-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 37.5%;
    order: 1;
    color: var(--dss-gray);
}

.Timeline .entry.even .date-box {
    order: 3;
    justify-content: flex-start;
}

/* Indicator and line */

.Timeline .indicator {
    width: 4rem;
    order: 2;
    z-index: 2;
    transition: transform 0.5s ease-in-out, filter 1s ease-in-out;
    filter: none;
}

.Timeline .selected .indicator {
    transform: scale(120%);
    transition: transform 1s ease-in-out, filter 1s ease-in-out;
    filter: brightness(0) invert(1);
}

.Timeline .line {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;

    width: 0.75rem;

    /* background: linear-gradient(var(--dss-orange), var(--dss-red), var(--dss-orange)); */
    background: linear-gradient(to bottom, var(--dss-orange) 35%, var(--dss-red) 65%, var(--dss-orange) 75%);
    background-size: 100% 200%;

    animation: shine 5s infinite linear;
}

/* Animations */

.Timeline .even .slide-in {
    animation: slideIn 1s forwards;
}

.Timeline .odd .slide-in {
    animation: slideIn 1s forwards;
}

@keyframes shine {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% -200%;
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}