/* Noah Klein */

@import './themes.css';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: montserrat;

  color: var(--dss-gray);
  background-color: var(--dss-black);
}

a {
  text-decoration: none;
  color: var(--dss-orange);
  transition: color 0.5s ease;
}

textarea {
  font-family: montserrat;
  resize: vertical;
}

#error-page {
  margin: 0;
  padding: 1rem 2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);

  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 0.5rem;

  color: var(--dss-black);
  background-color: var(--dss-gray);
}

form button {
  padding: 10px 20px;
  background-color: var(--dss-red);
  color: var(--dss-gray);
  border: none;
  cursor: pointer;
  font-family: montserrat;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: var(--dss-orange);
}

/* Scroll bar */

/* Chromium */

/* Scrollbar container */
::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dss-gray);
  /* Light background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Darker background for the handle */
  border-radius: 10px;
  /* Rounded scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker when hovered */
}

/* Firefox */

body {
  scrollbar-width: thin;
  /* Can be auto, thin, or none */
  scrollbar-color: #888 #f1f1f1;
  /* Thumb color and track color */
}