/* Noah Klein */

.Home,
.CLKR {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    width: 100%;
}

:root {
    /* --dss-gray: #424150;
    --dss-orange: #FF2558;
    --dss-white: #E7E8E8; */
    --dss-gray: #EEEE;
    --dss-orange: #FF5900;
    --dss-red: #FF0000;
    --dss-white: #1F1F1F;
}

:root .column {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 1rem;
}

:root .row {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 1rem;
}


:root h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: var(--dss-orange);
}


:root h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}