/* Noah Klein */

.Home,
.CLKR {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    width: 100%;
}

:root {
    --dss-gray: #EEEE;
    --dss-orange: #FF5900;
    --dss-red: #FF0000;
    --dss-black: #1F1F1F;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 1rem;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 1rem;
}


h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: var(--dss-orange);
}


h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}