/* General footer styles */
.Footer {
    /* background-color: var(--dss-orange); */
    background: linear-gradient(to bottom, var(--dss-orange), var(--dss-red));

    color: white;
    padding: 40px 20px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin-top: 4rem;
}

.Footer .logo {
    height: 4rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(115deg) brightness(102%) contrast(103%);
    margin-top: 1.3em;
}

.Footer span {
    margin: 0 5px;
}

.footer-content {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    justify-content: space-between;
}

.footer-section {
    max-width: fit-content;
}


.footer-section h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-section.centered h4 {
    text-align: center;
}

.footer-section p {
    margin: 6px 0;
    line-height: 1.6;
}

.footer-section a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Footer a:hover {
    color: black;
    /* Add hover color */
}

/* Blurb Section */
.footer-blurb {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
}

.footer-blurb p {
    margin: 0;
    padding: 0 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--dss-black);
    padding-top: 20px;
    margin-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom p {
    margin: 0;
    font-size: 12px;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}